* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ===========MAIN SECTION=============*/

main {
  margin-left: auto;
  width: 77%;
  overflow: scroll;
  background-size: 35%;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.7),
      rgba(20, 20, 20, 0.7)
    ),
    url(../assets/images/background.jpg);
}
