nav {
  display: flex;
  flex-direction: column;
  padding: 4.5rem;
  height: 100vh;
  width: 23%;
  color: #00554b;
  background-color: #00cf78;
  position: fixed;
}

a:link,
a:hover,
a:active,
a:visited {
  color: #00554b;
  text-decoration: none;
}

.nav-logo {
  display: inline-block;
  font-size: 5rem;
  margin-bottom: 4rem;
}

.nav-logo span {
  text-shadow: 0 5px 10px #00554b;
  color: #00cf78;
}

.nav-logo:hover {
  animation: wiggle 2s infinite;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-btn:hover span {
  animation: wiggle 0.6s infinite;
}

.nav-icn {
  font-size: 3rem;
  color: #00cf78;
  background-color: #00554b;
  border-radius: 50%;
}

.nav-btn:hover .nav-icn {
  outline: 4px solid #ceeec6;
}

li {
  list-style: none;
  font-size: 4.3rem;
}

.nav-border {
  background-image: url(https://cdn.prod.website-files.com/66f118a7910378c2a20fc0fd/66f26c9b2b6247437325649d_draw-line-primary-dark.svg);
  background-position: 0 0;
  background-size: auto 0.3rem;
  border-radius: 1rem;
  width: 100%;
  height: 0.3rem;
  margin: 1.5rem 0;
}

.git-logo {
  font-size: 3rem;
  margin-right: 0.3em;
}

.github:link,
.github:visited {
  text-transform: none;
  font-family: 'Mogra', system-ui;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #ceeec6;
  background-color: #00554b;
  padding: 0.5rem 1.5rem;
  border-radius: 0.6rem;
  margin-top: auto;
}

.github:hover,
.github:active {
  outline: 2px solid #ceeec6;
}

.nav-footer {
  text-transform: none;
  margin-top: auto;
  font-family: Arial, Helvetica, sans-serif;
}
