body {
  margin: 0;
  color: #fff;
  background-color: #1f202e;
}

/* ===== Layout ===== */
.main-content {
  margin: 4rem 6rem;
  min-height: 80vh;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85%;
  max-width: 1100px;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  background-color: #00554b;
  padding: 1.5rem;
  overflow: auto;
}

.title {
  color: #ceeec6;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

/* ===== Matches ===== */
.matches-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.no-matches {
  text-align: center;
  font-size: 18px;
  color: #ceeec6;
  margin-top: 50px;
}

/* ===== Footer ===== */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 2rem 5rem;
  background-color: #00cf78;
  color: #00554b;
}

.footer-ask {
  color: #ceeec6;
}

.copy {
  font-weight: 400;
  font-size: 1.7rem;
}

.change {
  display: flex;
  gap: 1rem;
}

.home-link {
  text-decoration: none;
  color: #00554b;
  transition: 0.5s all;
}

.home-link:hover {
  color: #ceeec6;
}
