body {
  margin: 0;
  color: #fff;
  background-color: #1f202e;
}

/* ===== Layout ===== */
.main-content {
  margin: 4rem 6rem;
  min-height: 80vh;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  height: 75vh;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  background-color: #00554b;
  padding: 1rem;
  overflow: auto;
}

.title {
  color: #ceeec6;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

/* ===== Matches ===== */
.matches-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.no-matches {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 50px;
}

/* ===== Footer ===== */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 2rem 5rem;
  background-color: #00cf78;
  color: #00554b;
}

.footer-ask {
  color: #ceeec6;
}

.copy {
  font-weight: 400;
  font-size: 1.7rem;
}

.change {
  display: flex;
  gap: 1rem;
}

.home-link {
  text-decoration: none;
  color: #00554b;
  transition: 0.5s all;
}

.home-link:hover {
  color: #ceeec6;
}

.match-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 0 8rem;
  margin-top: 1rem;
  color: #00554b;
  background-color: #ceeec6;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

.league-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0 1.5rem;
  background-color: rgba(0, 207, 120, 0.15);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.league-logo {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.league-name {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #00554b;
}

.match {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.team {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
}

.team img {
  height: 6rem;
}

.home {
  justify-content: end;
  text-align: end;
}

.away {
  justify-content: start;
  text-align: start;
}

.match-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.scroll-box {
  overflow: auto;
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-box::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
